@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lora&family=Poltawski+Nowy&family=Poppins:wght@500&family=Roboto+Slab&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: "Karla", sans-serif;
}
h1 {
  font-family: "Poppins", sans-serif;
}

.gradient-text {
  background: linear-gradient(45deg, #ee0979, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
