@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lora&family=Poltawski+Nowy&family=Poppins:wght@500&family=Roboto+Slab&display=swap');

body{
    background-color: rgb(20, 20, 20);
    color: white;
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    user-select: none;
}

p{
    font-family: 'Karla', sans-serif;
}

h1{
    font-family: 'Poppins', sans-serif;
}

h1 > .gradientText{
    background: linear-gradient(
        45deg,
        #ee0979,#ff6a00
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}